[Unit]
Description=Daily cleanup for NPD shared scratch storage

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
