
WORKER_ADAPTER=fake

# Для WORKER_ADAPTER=proxmox обязательны все параметры ниже.
PROXMOX_API_URL=https://pve01:8006/api2/json
PROXMOX_TOKEN_ID=portal-worker@pve!portal
PROXMOX_TOKEN_SECRET=replace-me
PROXMOX_CA_FILE=/path/to/pve-root-ca.pem
PROXMOX_TIMEOUT_SECONDS=10

PROXMOX_TARGET_NODE=pve02
PROXMOX_POOL=npd-portal

PROXMOX_TEMPLATE_NODE=pve02
PROXMOX_TEMPLATE_VMID=9000
PROXMOX_TEMPLATE_IMAGE_ID=almalinux-9
PROXMOX_STORAGE=local-zfs

PROXMOX_CLOUD_INIT_USER=almalinux
PROXMOX_IPCONFIG0=ip=dhcp
PROXMOX_NAMESERVER=10.10.40.1
PROXMOX_SEARCH_DOMAIN=internal
